<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>mini twitter 🐦‍⬛</title>
  </head>
  <body>
    <div id="container">
      <nav>
        <ul>
          <li>
            <a href="/">Home</a>
          </li>
          <li>
            <a href="/user/login">Login</a>
          </li>
          <li>
            <a href="/user/register">Register</a>
          </li>
        </ul>
      </nav>
      <h1>Welcome to the Social Network 🌞</h1>
      <div class="twit-container">
        <!-- 여기에 twit 추가 -->
      </div>
    </div>
  </body>
</html>
